@charset "UTF-8";

:root {
    --cor0: #0a0a23;
    --cor1: #03045e;
    --cor2: #023e8a;
    --cor3: #0077b6;
    --cor4: #0096c7;
    --cor5: #48cae4;    
}

* { /* Configurações globais das CSS */
    box-sizing:border-box;
}

header {
    min-height: 140px;
    background-image: linear-gradient(to top, var(--cor1), var(--cor2), var(--cor3));
    text-align: center;
    padding: 40px 0px 30px 0px;
}

header > h1 {
  text-transform: uppercase;
  margin: auto;
  font-size: 2.2em;
  color: #fff;
  font-weight: 400px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.916);
}

nav {
    background-color: var(--cor1);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.193);
    text-align: center;    
}

nav > a {
    color: white;
    font-size: 1.1em;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: 0.5;
    display: inline;
}

nav > a:hover {
    background-image: linear-gradient(to top, var(--cor1), var(--cor2), var(--cor3));
}

nav > a:active {
    color: var(--cor5);
}

main {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2), var(--cor3));
}

body {
    width: 100%;
    height: 50vh;
    margin: 0;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #0a0a23;
}

main > p {
    margin: auto;
    padding-top: 30px;
    text-align: center;
    font-size: 1.15em;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 1.3em;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.2em;
}

fieldset {
    border: none;
    padding: 1.5rem 0;
    border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
    border-bottom: none;
}

div {
    margin: auto;
    display: block;
    padding: 10px;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input,
textarea {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2.2em;
    background-color: var(--cor1);
    border: 1px solid #10105c;
    color: #ffffff;
}

.inline {
    width: unset;
    margin: 0 0.5em 0.2em 0;
    vertical-align: middle;
}

div > .inline {
    cursor:pointer;
}

.inline:hover {
    cursor: pointer;
}

.hide, .hide2 {
    display: none;
}

#div1, #div2 {
    font-size: 0.85em;
    vertical-align: middle;
}

.botao {
    height: 2em;
    font-size: 1.1rem;
    background-color: #3d3d4b;
    border-color: #2a2a3d;
    color: white;
    max-width: 300px;
    min-width: 180px;
    display: block;
    margin: auto;
}

.botao:hover {
    cursor:pointer;
}

.botao:active {
    box-shadow: 2px 2px 2px solid rgb(54, 47, 47);
}

input[type="file"] {
    padding: 1px 2px;
}

.menu {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 500px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.column {
    float: left;
    width: 25%;
    padding: 5px;
}

  /* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width: 500px) {
  .column {
      width: 50%;
  }
}

footer > p {
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor1));
    margin: auto;
    padding: 45px;
    
}

footer > p > a {
    color: white;
    text-decoration: none;
}

footer > p > a:hover {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
    border-radius: 4px;
}